/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    position: relative;
    min-height: 100%;
}

  /* Typography */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 60px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 14px;
  }
  
  h6 {
    font-size: 12px;
  }
  
  /* Container */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Navbar */
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
  }
  
  /* Main header */
  header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  /* Main content */
  main {
    padding: 20px 0;
  }
  
  /* Cards */
  .card {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .card-header {
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #666;
  }
  
  /* Footer */
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
}
  
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    nav ul {
      display: none;
    }
  }
  