{% extends "base.html" %}

{% block title %}Goal Progress{% endblock %}

{% block content %}
    <h1>Goal Progress</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Goal</th>
                <th>Target Amount</th>
                <th>Current Progress</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for goal in goal_data %}
                <tr>
                    <td>{{ goal.goal.name }}</td>
                    <td>{{ goal.goal.amount }}</td>
                    <td>{{ goal.progress }}</td>
                    <td>{{ goal.percentage|floatformat:2 }}%</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
